---
---
@import url("https://fonts.googleapis.com/css?family=Montserrat");@font-face {
    font-family: "Indivisa Text Sans-Regular";
    src: url("../fonts/Indivisa Text Sans-Regular.ttf")
}

$family-primary: "Indivisa Text Sans-Regular",sans-serif;
$primary: #e8a1b0;   // rose poudré, élégant
$link: #e8a1b0;

// Import Main CSS file from theme
@import "main";

.navbar-item img {
    max-height: 2.75rem;
}

.menu-label {
    font-size : 1em;
}
.hero-photo {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    .hero-photo {
        background-position: center top;
    }
}
body {
    background: yellow !important;
}

