---
---

@import url("https://fonts.googleapis.com/css?family=Montserrat");

@font-face {
  font-family: "Indivisa Text Sans-Regular";
  src: url("../fonts/Indivisa Text Sans-Regular.ttf");
}

$family-primary: "Indivisa Text Sans-Regular", sans-serif;

/* Couleur principale */
$primary: #e8a1b0; /* rose clair */
$link: #e8a1b0;

/* Hero photo */
.hero-photo {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .hero-photo {
    background-position: center top;
  }
}




