---  ---

/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Montserrat");

/* Police perso */
@font-face {
  font-family: "Indivisa Text Sans-Regular";
  src: url("../fonts/Indivisa Text Sans-Regular.ttf");
}

$family-primary: "Indivisa Text Sans-Regular", sans-serif;

/* Couleurs avant Bulma */
$primary: #FFB5C0; /* rose clair professionnel */ 
$link: #FFB5C0;

/* Import Bulma */
@import "bulma";

/* Hero photo */
.hero-photo {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .hero-photo {
    background-position: center top;
  }
}









