---  ---

@import url("https://fonts.googleapis.com/css?family=Montserrat");

@font-face {
  font-family: "Indivisa Text Sans-Regular";
  src: url("../fonts/Indivisa Text Sans-Regular.ttf");
}

$family-primary: "Indivisa Text Sans-Regular", sans-serif;

$primary: #e8a1b0; /* rose clair */
$link: #e8a1b0;

@import "bulma";

.hero-photo {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .hero-photo {
    background-position: center top;
  }
}
/* Forcer le rose clair sur tout ce qui est primaire */
html.theme-light .navbar.is-primary,
html.theme-light .button.is-primary,
html.theme-light .tabs li.is-active a,
html.theme-light .pagination .button.is-primary {
  background-color: #e8a1b0 !important;
  border-color: #e8a1b0 !important;
}

html.theme-light a,
html.theme-light a.button.is-primary {
  color: #e8a1b0 !important;
}


/* Liens et boutons */
a,
a.button.is-primary {
  color: #e8a1b0 !important;
}






